.input{
    display: block;
    padding: 10px;
    margin: 10px auto;
    background-color: #f1f1f1;
    border: none;
    width: 50%;
    outline: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
}